.card {
    background-color: #222;
    transition: .25s;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;

}

.card-content {
    /* borderTopRightRadius: 20,
    borderTopLeftRadius: 20,
    borderBottomLeftRadius: 20,
    borderBottomRightRadius: 20, */
    /* height: 0px; */
    /* transition: .25; */
    overflow-x: scroll;
    overflow: auto; 


}
.expanding-content {
    transition: max-height 0.25s ease-in;
}
.card-hover:hover {
    background-color: #111;
    cursor: pointer;
}
.card-expand {
    background-color: #111;
    cursor:auto;
    max-height: 100vh;

}