.card {
    background-color: orange;
    transition: .25s;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;

}

.card-container {
}
.expanding-content {
    transition: max-height 0.25s ease-in;
}
.card-hover:hover {
    background-color: DarkTurquoise;
    cursor: pointer;
}
.card-expand {
    background-color: DarkTurquoise;
    cursor:auto;
    max-height: 100vh;

}